@import "tailwindcss";

@theme {
  --color-primary: #533e29;
  --color-secondary: #B78854;
  --color-tertiary: #F9F6F4;
  --color-quaternary: #F5F1EE;

  --color-active: #B78854;

  --text-primary: #533e29;
  --text-secondary: #F9F7F4;
  --text-quaternary: #F5F1EE;

  --text-md: 1rem;

  --font-lato: 'Lato', sans-serif, helvetica;
}